h1 {
    color: #ffffff;
    background-color: black;
    text-align: left;
    font-family: monospace, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h1 span {
    color: aqua;
}

h2 {
    color: #ffffff;
    background-color: rebeccapurple;
    text-align: center;
    font-family: monospace, sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: normal;
}

h3 {
    color: #26256a;
    background-color: rgb(134, 160, 226);
    text-align: right;
    font-family: monospace, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    font-weight: normal;
}